@font-face {
  font-family: 'KOHIBaeumOTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.movie-detail {
  max-width: 1200px; /* 더 넓은 최대 너비 */
  margin: 0 auto;
  padding: 40px; /* 더 넓은 패딩 */
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* 더 큰 그림자 */
  border-radius: 10px;
  display: flex;
  align-items: flex-start; /* 포스터와 텍스트가 상단에 정렬되도록 */
}

.movie-detail img {
  width: 300px; /* 고정된 너비 */
  border-radius: 10px;
  margin-right: 20px; /* 포스터와 텍스트 사이의 간격 */
}

.movie-detail-content {
  max-width: 800px; /* 텍스트 영역의 최대 너비 */
}

.movie-detail-content h1 {
  font-size: 3em; /* 더 큰 글꼴 크기 */
  color: #333;
  font-family: 'KOHIBaeumOTF'; /*폰트 조정*/
  font-size: 30; /*폰트 크기 +*/
  margin-bottom: 0px;
}

.movie-detail-content span {
  color: #555;
  font-size: 25px;
  font-family: 'GmarketSansMedium'
}

.movie-detail-content span.rating {
  color: white;
  background-color: #e67e22;
  border-radius: 5px;
  font-size: 27px;
  font-family: 'GmarketSansMedium';
  margin-left: 20px;
}

.movie-detail-content p {
  font-size: 1.5em; /* 더 큰 글꼴 크기 */
  line-height: 1.8; /* 더 큰 행간 */
  color: #555;
  font-family: 'GmarketSansMedium'; /*폰트 조정*/
}

.movieScript {
  font-size: 1.5em; /* 더 큰 글꼴 크기 */
  line-height: 1.8; /* 더 큰 행간 */
  color: #555;
  font-family: 'GmarketSansMedium'; /*폰트 조정*/
  max-width: 1200px; /* 더 넓은 최대 너비 */
  margin: 0 auto;
  padding: 40px; /* 더 넓은 패딩 */
  }

.scriptTitle {
  font-family: 'KOHIBaeumOTF';
  font-size: 30px;
  margin-top: 50px;
  max-width: 1200px; /* 더 넓은 최대 너비 */
  padding: 40px; /* 더 넓은 패딩 */
}

h6 {
  font-family: 'GmarketSansMedium'; /*폰트 조정*/
  font-size: 20px; /* 더 넓은 최대 너비 */
  color: #555;
  margin-bottom: 10px; /* 더 작은 아래 마진 */
  margin-top: 0px;
  
}

.movie-detail-content span.vote-count {
  font-size: 15px; /* 더 넓은 최대 너비 */
  color: #777;
  margin-left: 10px;
  font-family: 'GmarketSansMedium'
}