@font-face {
  font-family: 'KOHIBaeumOTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.movie-detail {
  max-width: 100%; /* 더 넓은 최대 너비 */
  margin: 0px;
  padding: 40px; /* 더 넓은 패딩 */
  font-family: Arial, sans-serif;
  background-color: #373b69;
  display: flex;
  align-items: flex-start; /* 포스터와 텍스트가 상단에 정렬되도록 */
}

.movie-detail img {
  width: 300px; /* 고정된 너비 */
  border-radius: 10px;
  margin-right: 20px; /* 포스터와 텍스트 사이의 간격 */
  margin-left: 50px;
}

.movie-detail-content {
  max-width: 800px; /* 텍스트 영역의 최대 너비 */
}

.movie-detail-content h1 {
  font-size: 3em; /* 더 큰 글꼴 크기 */
  color: white;
  font-family: 'KOHIBaeumOTF'; /*폰트 조정*/
  font-size: 30; /*폰트 크기 +*/
  margin-bottom: 0px;
  font-weight: 300;
}

.movie-detail-content span {
  color: white;
  font-size: 20px;
  font-family: 'GmarketSansMedium'
}

.movie-detail-content span.rating {
  color: white;
  border-radius: 5px;
  font-family: 'GmarketSansMedium';
}

.movie-detail-content p {
  font-size: 20px; /* 더 큰 글꼴 크기 */
  line-height: 1.2; /* 더 큰 행간 */
  color: white;
  font-family: 'GmarketSansMedium'; /*폰트 조정*/
}

.movieScript {
  font-size: 1.5em; /* 더 큰 글꼴 크기 */
  line-height: 1.8; /* 더 큰 행간 */
  color: #555;
  font-family: 'GmarketSansMedium'; /*폰트 조정*/
  max-width: 1200px; /* 더 넓은 최대 너비 */
  margin: 0 auto;
  padding: 40px; /* 더 넓은 패딩 */
  margin-bottom: 100px;
  background-color: #f4f4f4;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* 더 큰 그림자 */
  border-radius: 10px;
  }

.scriptTitle {
  font-family: 'KOHIBaeumOTF';
  font-size: 30px;
  margin-top: 50px;
  margin-left: 100px;
  max-width: 1200px; /* 텍스트 영역의 최대 너비 */
  padding: 10px; /* 더 넓은 패딩 */
}

.movie-detail-content span.vote-count {
  font-size: 18px; /* 더 넓은 최대 너비 */
  color: white;
  margin-left: 10px;
  font-family: 'GmarketSansMedium'
}

.movie-detail-content h6 {
  font-size: 15px; /* 더 넓은 최대 너비 */
  color: white;
  margin-left: 10px;
  font-family: 'GmarketSansMedium';
  margin-bottom: 70px;
  margin-top: 10px;
}

.reviews h2 {
  font-family: 'KOHIBaeumOTF';
  font-size: 30px;
  margin-top: 50px;
  max-width: 1200px; /* 텍스트 영역의 최대 너비 */
  padding: 10px; /* 더 넓은 패딩 */
  margin-left: 100px;
  font-weight: 300;
}

.review h3 {
  font-size: 1.3em; /* 더 큰 글꼴 크기 */
  color: #555;
  font-family: 'KOHIBaeumOTF';/*폰트 조정*/
  max-width: 1200px; /* 더 넓은 최대 너비 */
  padding: 10px; /* 더 넓은 패딩 */
}

.review p {
  
  font-size: 1.1em; /* 더 큰 글꼴 크기 */
  line-height: 1.8; /* 더 큰 행간 */
  color: #555;
  font-family: 'GmarketSansMedium'; /*폰트 조정*/
  max-width: 1200px; /* 더 넓은 최대 너비 */
  margin: 0 auto;
  padding: 10px; /* 더 넓은 패딩 */
  margin-bottom: 100px;
}

.reviews p {
  max-width: 1200px; /* 더 넓은 최대 너비 */
  margin-bottom: 50px;
  padding: 40px; /* 더 넓은 패딩 */
  font-family: 'GmarketSansMedium';
  background-color: #f4f4f4;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* 더 큰 그림자 */
  border-radius: 10px;
  display: flex;
  align-items: flex-start; /* 포스터와 텍스트가 상단에 정렬되도록 */
}

.reviews h3 {
  max-width: 1200px; /* 더 넓은 최대 너비 */
  margin: 0 auto;
  padding: 40px; /* 더 넓은 패딩 */
  font-family: 'KOHIBaeumOTF';
  background-color: white;
  display: flex;
  color:#373b69;
  align-items: flex-start; /* 포스터와 텍스트가 상단에 정렬되도록 */
  font-size: 25px;
  font-weight: 700;
}